/* D2Coding — OFL-1.1. Fetched by scripts/fetch-editor-fonts.mjs. See LICENSE.txt. */
@font-face {
  font-family: 'D2Coding';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(D2Coding-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'D2Coding';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(D2Coding-Bold.woff2) format('woff2');
}
